accelerate
bitsandbytes
datasets==2.18.0
lm_eval==0.4.4
numpy
torch
tqdm
transformers==4.51.1
triton
termcolor
sentencepiece
protobuf
easydict
matplotlib
ninja
gptqmodel
# uv pip install -r requirements.txt --no-build-isolation